body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 30px;
}
header {
    background-color: #581845;
    text-align: center;  
    padding-top: 50px;
    padding-bottom: 50px;
}
h1, h2 {
    font-style: initial;
}

header h1{
    color:white;
    font-size: 50px;
}
header img{
    border-radius: 150px;
    width: 300px;
    border: 20px solid #900C3F;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}
main img {
    max-width: 800px;
}


