body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 30px;
}
header {
    background-color: #581845;
    text-align: center;  
    padding-top: 50px;
    padding-bottom: 50px;
}
h1, h2 {
    font-style: initial;
}
h2{
    font-size: 30px;
    margin: 40px 0 10px;
}
header h1{
    color:white;
    font-size: 50px;
}
header img{
    border-radius: 150px;
    width: 300px;
    border: 20px solid #900C3F;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding:20px;
}
main img {
    max-width: 800px;
}
a{
    color:#900C3F;
}
a:hover{
    color: white;
    background-color: #581845;
}
footer{
    color: white;
    background-color: #581845;
    text-align: center;
    padding: 50px;
}
footer p{
    margin: 0;
}
p.caption{
    color: #999;
    font-size: medium ;
    margin-top: 0;
}